%xml
  %ToUserName= cdata userAccount
  %FromUserName= cdata myAccount
  %CreateTime= cdata Time.now.to_i
  %MsgType= cdata 'news'
  %ArticleCount= article_count
  %Articles
    - articles.each do |articles|
      %item
        %Title= cdata articles[:title]
        %Description= cdata articles[:description]
        %PicUrl= cdata articles[:picture_url]
        %Url= cdata articles[:article_url]